In [2]:
"""Q.1. MongoDB is a document(record or collection which we are storing i called document) database. It is a NoSQL(not only sql) language i.e. non relational database language which manipulates and inserts data in database in structured as well as non structured format. 
Data are stored in MongoDB in json(java script object notation) format which is basically inserting data in dictionary fomat. 
Non relational databases  is implementation specific database which has no set language standard for data to be inserted. It implements its own language for performing CRUD and administrative tasks.
Non relational dataase does not  use standard table schema with row and column for storing data. 
MongoDB is used over sql in cases when we have to enter non structured data in database like data in dictionary{"Name": 'Ayush'} format.
"""

'Q.1. MongoDB is a document(record or collection which we are storing i called document) database. It is a NoSQL(not only sql) language i.e. non relational database language which manipulates and inserts data in database in structured as well as non structured format. \nData are inserted in MongoDB in json(java script object notation) format which is basically inserting data in dictionary fomat. \nNon relational databases  is implementation specific database which has no set language standard for data to be inserted. It implements its own language for performing CRUD and administrative tasks.\nNon relational dataase does not  use standard table schema with row and column for storing data. \nMongoDB is used over sql in cases when we have to enter non structured data in database like data in dictionary{"Name": \'Ayush\'} format.\n'

In [4]:
""" Q.2.
Some features of MongoDB are :
1. It can store non structured data which is not possible with sql.
2. Adhoc queries for optimized, real time analytics - Adhoc queries are short lived command whose values depends on variables. Each time an adhoc query is executed, values may change depending on variable.
3. It provides Schema less database - A schema  less database typically means one collection can hold multiple types of documents with each document can have different no of fields , can var in size.
4. Scalability - Data is distributed in multiple chunks and these chunks are eventy shared across multiple servers . 
5. Replication - It provideshigh availability and redundancy by distributing data in multiple servers so that in case one server fails , we can get data from other server.
5. High Performance compared to sql database - Performance of MongoDB is high as compared to sql database.
6. Indexing - All the fields in the docs are indexed with primmary and secondary indices which makes it very easier to search the data from a pool of data which is both efficient and less complex."""

' Q.2.\nSome features of MongoDB are :\n1. It can store non structured data which is not possible with sql.\n2. Adhoc queries for optimized, real time analytics - Adhoc queries are short lived command whose values depends on variables. Each time an adhoc query is executed, values may change depending on variable.\n3. It provides Schema less database - A schema  less database typically means one collection can hold multiple types of documents with each document can have different no of fields , can var in size.\n4. Scalability - Data is distributed in multiple chunks and these chunks are eventy shared across multiple servers . \n5. Replication - It provideshigh availability and redundancy by distributing data in multiple servers so that in case one server fails , we can get data from other server.\n5. High Performance compared to sql database - Performance of MongoDB is high as compared to sql database.\n6. Indexing - All the fields in the docs are indexed with primmary and secondary indices which makes it very easier to search the data from a pool of data which is both efficient and less complex.'

In [2]:
#Q.3.
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.5.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://ayushmishra1704:Ayush1704@cluster0.o3nsegx.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [4]:
db = client['database']

In [5]:
coll_database = db["my_record"]

In [8]:
#Q.4.
data = {
"Name" : "Ayush",
"Class" : "AI",
"Subject" : "Maths"
}

In [9]:
coll_database.insert_one(data)

In [10]:
data1 = [{"name": "Amy", "address": "Apple st 562"},
{"name": "Hannah", "address": "Mountain 21"},
{"name": "Michael", "address": "Valley 345"},
{"name": "Sandy", "address": "Ocean blvd 2"},
{"name": "Betty", "address": "Green Grass 1"},
{"name": "Richard", "address": "Sky at 331"},
{"name": "Susan", "address": "One way 98"},
]

In [11]:
coll_database.insert_many(data1)

In [12]:
for i in coll_database.find():
    print(i)

{'_id': ObjectId('653bb1bb18c182b7edafc932'), 'Name': 'Ayush', 'Class': 'AI', 'Subject': 'Maths'}
{'_id': ObjectId('653bb38c18c182b7edafc933'), 'name': 'Amy', 'address': 'Apple st 562'}
{'_id': ObjectId('653bb38c18c182b7edafc934'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653bb38c18c182b7edafc935'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653bb38c18c182b7edafc936'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653bb38c18c182b7edafc937'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653bb38c18c182b7edafc938'), 'name': 'Richard', 'address': 'Sky at 331'}
{'_id': ObjectId('653bb38c18c182b7edafc939'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('653bb837d67b059d58a230e4'), 'Name': 'Ayush', 'Class': 'AI', 'Subject': 'Maths'}
{'_id': ObjectId('653bb838d67b059d58a230e5'), 'name': 'Amy', 'address': 'Apple st 562'}
{'_id': ObjectId('653bb838d67b059d58a230e6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653bb838d67b059d58a230e7'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653bb838d67b059d58a230e8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653bb838d67b059d58a230e9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653bb838d67b059d58a230ea'), 'name': 'Richard', 'address': 'Sky at 331'}
{'_id': ObjectId('653bb838d67b059d58a230eb'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('653bbd05af2b4c8dcb7f92de'), 'Name': 'Ayush', 'Class': 'AI', 'Subject': 'Maths'}
{'_id': ObjectId('653bbd09af2b4c8dcb7f92df'), 'name': 'Amy', 'address': 'Apple st 562'}
{'_id': ObjectId('653bbd09af2b4c8dcb7f92e0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653bbd09af2b4c8dcb7f92e1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653bbd09af2b4c8dcb7f92e2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653bbd09af2b4c8dcb7f92e3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653bbd09af2b4c8dcb7f92e4'), 'name': 'Richard', 'address': 'Sky at 331'}
{'_id': ObjectId('653bbd09af2b4c8dcb7f92e5'), 'name': 'Susan', 'address': 'One way 98'}

In [13]:
coll_database.find_one()

{'_id': ObjectId('653bb1bb18c182b7edafc932'),
 'Name': 'Ayush',
 'Class': 'AI',
 'Subject': 'Maths'}

In [14]:
"""Q.5.
find() -> find() method searches for all the types of documents stored in collection through indexing and then retuns a cursor. 
A curson is basically a pointer which points to a document. When we use find() method cursor basically points to the document 
which needs to be returned one by one.
"""
for i in coll_database.find():
    print(i)

{'_id': ObjectId('653bb1bb18c182b7edafc932'), 'Name': 'Ayush', 'Class': 'AI', 'Subject': 'Maths'}
{'_id': ObjectId('653bb38c18c182b7edafc933'), 'name': 'Amy', 'address': 'Apple st 562'}
{'_id': ObjectId('653bb38c18c182b7edafc934'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653bb38c18c182b7edafc935'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653bb38c18c182b7edafc936'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653bb38c18c182b7edafc937'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653bb38c18c182b7edafc938'), 'name': 'Richard', 'address': 'Sky at 331'}
{'_id': ObjectId('653bb38c18c182b7edafc939'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('653bb837d67b059d58a230e4'), 'Name': 'Ayush', 'Class': 'AI', 'Subject': 'Maths'}
{'_id': ObjectId('653bb838d67b059d58a230e5'), 'name': 'Amy', 'address': 'Apple st 562'}
{'_id': ObjectId('653bb838d67b059d58a230e6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653bb838d67b059d58a230e7'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653bb838d67b059d58a230e8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653bb838d67b059d58a230e9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653bb838d67b059d58a230ea'), 'name': 'Richard', 'address': 'Sky at 331'}
{'_id': ObjectId('653bb838d67b059d58a230eb'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('653bbd05af2b4c8dcb7f92de'), 'Name': 'Ayush', 'Class': 'AI', 'Subject': 'Maths'}
{'_id': ObjectId('653bbd09af2b4c8dcb7f92df'), 'name': 'Amy', 'address': 'Apple st 562'}
{'_id': ObjectId('653bbd09af2b4c8dcb7f92e0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653bbd09af2b4c8dcb7f92e1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653bbd09af2b4c8dcb7f92e2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653bbd09af2b4c8dcb7f92e3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653bbd09af2b4c8dcb7f92e4'), 'name': 'Richard', 'address': 'Sky at 331'}
{'_id': ObjectId('653bbd09af2b4c8dcb7f92e5'), 'name': 'Susan', 'address': 'One way 98'}

In [16]:
"""Q.6.sort()- A document that defines short orders of the result set.
It specifies the order in which query returns sorting documents. 
Apply sort() to the cursor before retrieving any documents from the database.
"""

'Q.6.\nsort()- A document that defines short orders of the result set.\nIt specifies the order in which query returns sorting documents. \nApply sort() to the cursor before retrieving any documents from the database.\n'

In [93]:
random_data = [
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}
]

In [94]:
coll_database.insert_many(random_data)

In [95]:
for i in coll_database.find().sort("_id"):
    print(i)

{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}
{'_id': ObjectId('653bb1bb18c182b7edafc932'), 'Name': 'Ayush', 'Class': 'AI', 'Subject': 'Maths'}
{'_id': ObjectId('653bb38c18c182b7edafc934'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653bb38c18c182b7edafc935'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653bb38c18c182b7edafc936'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653bb38c18c182b7edafc937'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653bb38c18c182b7edafc938'), 'name': 'Richard', 'address': 'Sky at 331'}
{'_id': ObjectId('653bb38c18c182b7edafc939'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('653bb837d67b059d58a230e4'), 'Name': 'Ayush', 'Class': 'AI', 'Subject': 'Maths'}
{'_id': ObjectId('653bb838d67b059d58a230e6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653bb838d67b059d58a230e7'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653bb838d67b059d58a230e8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653bb838d67b059d58a230e9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653bb838d67b059d58a230ea'), 'name': 'Richard', 'address': 'Sky at 331'}
{'_id': ObjectId('653bb838d67b059d58a230eb'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('653bbd05af2b4c8dcb7f92de'), 'Name': 'Ayush', 'Class': 'AI', 'Subject': 'Maths'}
{'_id': ObjectId('653bbd09af2b4c8dcb7f92e0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653bbd09af2b4c8dcb7f92e1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653bbd09af2b4c8dcb7f92e2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653bbd09af2b4c8dcb7f92e3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653bbd09af2b4c8dcb7f92e4'), 'name': 'Richard', 'address': 'Sky at 331'}
{'_id': ObjectId('653bbd09af2b4c8dcb7f92e5'), 'name': 'Susan', 'address': 'One way 98'}

In [79]:
"delete_one -> It deletes a single document which matches the certain condition given in filter"
"delete_many -> It deletes one or more documents which matches the certain condition given in filter"
"drop -> It drops the collection from the database"

'delete_many -> It deletes one or more documents which matches the certain condition given in filter'

In [73]:
result  = coll_database.delete_one({'_id' : {"$gte": '3'}})

In [74]:
result.deleted_count

1

In [96]:
result1 = coll_database.delete_many({'_id' : {"$gte": '3'}})

In [97]:
result1.deleted_count

3

In [100]:
coll_database.drop()