In [ ]:
# Q.1- Ans
"""For loop is used when the number of iterations is already known.
A for loop is a control flow statement that executes code for a predefined number of iterations."""
# input list
inputList = [10, 20, 30, 40, 50]
print("Input list elements:")
for element in inputList:
   print(element)

"""While loop is used to execute statements(blocks of code) for an unknown number of times until certain criteria is 
met or until when given condition is true. e.g. And when the condition becomes false, the line immediately after the loop is executed. e.g If we want a ask a user to divide a number by 2 until it is less than 1 and ask how many times it has been divided by 2. 
If it is 32 we know we know 5 number of times. But for any number we dont know. So the process is"""
number = int(input("Enter the number"))
counter = 0
while number > 1 :
    number = number/2
    counter += 1
print(counter)

In [8]:
# Q.2- Ans
# Sum of first 10 natural numbers using for loop
sum = 0
for i in range(11):
    sum = sum + i
print(sum)

55

In [7]:
# Q.2- Ans
# Product of first 10 natural numbers using for loop
product = 1
for i in range(1,11):
    product = product * i
print(product)

3628800

In [10]:
# Q.2- Ans
# Sum of first 10 natural numbers using while loop
sum = 0
i = 0
while i < 11:
    sum = sum + i
    i += 1
print(sum)

55

In [11]:
# Q.2- Ans
# Product of first 10 natural numbers using while loop
product = 1
i = 1
while i < 11:
    product = product * i
    i +=1
print(product)

3628800

In [5]:
# Q.3 - Ans
n = int(input("Enter the units of electricity consumed in a month"))
if n <= 100:
    print(n*4.5)
elif 100 < n <= 200:
    print(100 * 4.5 + (n-100)*6)
elif 200< n <= 300 :
    print(100*4.5 + 100 * 6 + (n-200)*10)
else:
    print(100*4.5 + 100 * 6 + 100 * 10 + (n-300) * 20)

Enter the units of electricity consumed in a month 310

2250.0

In [9]:
# Q.4 - Ans
# For loop for condition
list = []
for i in range(1,101):
    list.append(i)
list1 = []
for j in list:
    if (j**3)%4 == 0 or (j**3)%5 == 0 : 
        list1.append(j)
list1

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [9]:
# Q.5 - Ans
string =  "I want to become a data scientist"
vowels = "a,e,i,o,u,A,E,I,O,U"
counter = 0
for i in string: 
    for j in vowels:
        if i == j:
            counter += 1   
counter

12

In [1]:
4**3

64