In [79]:
# Q.1 - Sol:
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45, 
    22, 61, 34)}, [56, 'data science'], 'Machine Learning']

def func_list(a):   
    product = 1
    for i in a :
        if type(i) == int:
            product = product * i
        elif type(i) == list  or type(i) == tuple  or type(i) == set:
            for j in i:
                if type(j) == int:
                    product = product * j  
        elif type(i) == dict:
            print(i.keys())
            print(i.values())
            for j in i.keys():
                if type(j) == int:
                    product = product * j     
            for k in i.values():
                if type(k) == int:
                    product = product * k 
                    for l in i.values():
                        if type(l) == list or type(l) == tuple:
                            for m in l:
                                if type(m) == int:
                                     product = product * m
        else:
            pass
    return product

In [80]:
func_list(list1)

dict_keys([1, 'key2', 4])
dict_values([34, [55, 67, 78, 89], (45, 22, 61, 34)])

4134711838987085478833841242112000

In [46]:
#Q.2 Ans - 
s = " I want to become a Data Scientist. "
s1 = s.lower()
print(s1)
s2 = s1.replace("a", "z").replace("b", "y").replace("c", "x").replace(" ","$")
print(s2)

 i want to become a data scientist.
$i$wznt$to$yexome$z$dztz$sxientist.$

In [52]:
# or
s = " I want to become a Data Scientist. "
s1 = s.lower()
print(s1)
s2 = s1.translate(s1.maketrans("abc ", "zyx$"))
print(s2)

 i want to become a data scientist.
$i$wznt$to$yexome$z$dztz$sxientist.$